PORT=4000

TOKEN_REFRESH_EXPIRE_TIME=24h

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/postgres?schema=public"
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

CRYPT_SALT=10
JWT_SECRET_KEY=secret
JWT_SECRET_REFRESH_KEY=secret
TOKEN_EXPIRE_TIME=60s

LOG_LEVEL=2
LOG_SIZE=30720
LOGS_DIR=loggerHistory
MAX_LOGFILE_SIZE=5